/* *{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;   
} */
.container{
    height: 700px;
    border: 1px solid red;
    background-color: yellow;
    display: grid;     
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 10px;

}
.box{
    border: 1px solid green;
    background-color: aqua;
    /* height: 100px;
    width: 100px; */

}
#box1{
    grid-area: 1/1/1/4;
    /* grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4; */
}